// colours

$White: #ffffff;
$Safety-Orange: #ff7000;
$Cloud-Burst: #222754;
$Blue: #3c73f1;

// font-family
$Roboto: 'Roboto', sans-serif;
$Inter: 'Inter', sans-serif;

// font-size
$medium: 500;
$regular: 400;
